<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1>Two Way Databind</h1>
            <label>Name:</label>
            <input type="text" v-model="name" />
            <span>{{name}}</span>
            <label>Age:</label>
            <input type="text" v-model="age" />
            <span>{{age}}</span>

        </div>
        <script src="app.js"></script>
    </body>
</html>
